.unit_right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	height: 100%;

	button {
		background: #2196f3;
		border-radius: 5px;
		width: 130px;
		&:hover {
			color: rgb(27, 27, 27);
		}
	}
	#delete_btn {
		background: rgb(250, 55, 55);
	}
}
.unit_lessons_holder {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	a {
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 500;
		color: #000;
		margin: 10px;
		transition: all 0.5s ease;
		&:hover {
			color: #2196f3;
		}
	}
}
